body {
	margin: auto;
	padding: 1em;
	max-width: 64em;
	font-family: "courier new", monospace;
	color: #69ff55;
	background: #111;
	word-wrap: break-word;
}

a {
	text-decoration: none;
	color: #00ff00;
	font-weight: bold;
	padding-right: 0.25em;
}

a:hover {color: #f20;}

#navbar {
	overflow: hidden;
	background-color: #5bff55;
	color: #222;
	z-index: 99;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 0.25em;
}

/* Navbar links */
#navbar a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

#navbar a:hover {
	background-color: #51E74C;
}
